<a href="https://colab.research.google.com/github/Inishpy/ML-and-DL-Project-works/blob/main/creditCardFraudDetection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
huimport tensorflow as tf

In [ ]:
import numpy as np
import pandas as pd
import seaborn
import sklearn

In [ ]:
import os
import warnings
warnings.filterwarnings('ignore')
#Packages related to data importing, manipulation, exploratory data #analysis, data understanding
import numpy as np
import pandas as pd
from pandas import Series, DataFrame



#from termcolor import colored as cl # text customization
#Packages related to data visualizaiton
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
#Setting plot sizes and type of plot
plt.rc("font", size=14)
plt.rcParams['axes.grid'] = True
plt.figure(figsize=(6,3))
plt.gray()
from matplotlib.backends.backend_pdf import PdfPages


from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn import metrics
from sklearn.impute import MissingIndicator, SimpleImputer
from sklearn.preprocessing import  PolynomialFeatures, KBinsDiscretizer, FunctionTransformer
from sklearn.preprocessing import StandardScaler, MinMaxScaler, MaxAbsScaler
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, LabelBinarizer, OrdinalEncoder
import statsmodels.formula.api as smf
import statsmodels.tsa as tsa
from sklearn.linear_model import LogisticRegression, LinearRegression, ElasticNet, Lasso, Ridge
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor, export_graphviz
from sklearn.ensemble import BaggingClassifier, BaggingRegressor,RandomForestClassifier,RandomForestRegressor
from sklearn.ensemble import GradientBoostingClassifier,GradientBoostingRegressor, AdaBoostClassifier, AdaBoostRegressor
from sklearn.svm import LinearSVC, LinearSVR, SVC, SVR
#from xgboost import XGBClassifier
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [ ]:
import io
data = pd.read_csv('/creditcard.csv')
data.fillna(0)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170458,120193.0,2.032686,-0.070219,-1.093517,0.467291,-0.321890,-1.505390,0.147641,-0.345532,0.724209,...,0.283248,0.955811,0.067464,0.417168,0.157534,-0.121672,-0.017449,-0.055632,1.00,0.0
170459,120193.0,-0.454479,1.201642,0.081936,-0.695024,0.410704,-1.057838,1.041520,-0.210913,0.225049,...,-0.312785,-0.531973,0.083066,-0.005112,-0.375916,0.150884,0.476890,0.223036,13.98,0.0
170460,120194.0,2.094119,-1.713483,-0.778604,-1.611163,-1.361482,-0.085073,-1.331477,0.037524,-1.286570,...,-0.048644,0.152273,0.232052,0.681825,-0.346774,-0.233445,0.006162,-0.035610,88.00,0.0
170461,120194.0,-3.644269,-0.747473,-0.267792,-0.807058,-0.947888,2.388635,-2.097686,2.285523,0.114737,...,-0.408052,0.103611,0.656432,-0.966815,-0.365917,-0.226191,-0.090287,-0.423226,53.86,0.0
170462,120194.0,-0.085730,1.014485,-0.708676,-0.798981,0.964767,-0.327944,0.716129,0.186059,0.208413,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.0

In [ ]:
Total_transactions = len(data)
normal = len(data[data.Class == 0])
fraudulent = len(data[data.Class == 1])
fraud_percentage = round(fraudulent/normal*100, 2)
print('Total number of Trnsactions are {}'.format(Total_transactions))
print('Number of Normal Transactions are {}'.format(normal))
print('Number of fraudulent Transactions are {}'.format(fraudulent))
print('Percentage of fraud Transactions is {}'.format(fraud_percentage))

Total number of Trnsactions are 170463
Number of Normal Transactions are 170102
Number of fraudulent Transactions are 360
Percentage of fraud Transactions is 0.21

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170463 entries, 0 to 170462
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    170463 non-null  float64
 1   V1      170463 non-null  float64
 2   V2      170463 non-null  float64
 3   V3      170463 non-null  float64
 4   V4      170463 non-null  float64
 5   V5      170463 non-null  float64
 6   V6      170463 non-null  float64
 7   V7      170463 non-null  float64
 8   V8      170463 non-null  float64
 9   V9      170463 non-null  float64
 10  V10     170463 non-null  float64
 11  V11     170463 non-null  float64
 12  V12     170463 non-null  float64
 13  V13     170463 non-null  float64
 14  V14     170463 non-null  float64
 15  V15     170463 non-null  float64
 16  V16     170463 non-null  float64
 17  V17     170463 non-null  float64
 18  V18     170462 non-null  float64
 19  V19     170462 non-null  float64
 20  V20     170462 non-null  float64
 21  V21     170462 non-null  float64
 22  V22     170462 non-null  float64
 23  V23     170462 non-null  float64
 24  V24     170462 non-null  float64
 25  V25     170462 non-null  float64
 26  V26     170462 non-null  float64
 27  V27     170462 non-null  float64
 28  V28     170462 non-null  float64
 29  Amount  170462 non-null  float64
 30  Class   170462 non-null  float64
dtypes: float64(31)
memory usage: 40.3 MB

In [ ]:
sc = StandardScaler()
amount = data['Amount'].values
data['Amount'] = sc.fit_transform(amount.reshape(-1, 1))

In [ ]:
data.drop(['Time'], axis=1, inplace=True)

In [ ]:
data.drop_duplicates(inplace=True)

In [ ]:
X = data.drop('Class', axis = 1).values
y = data['Class'].values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 1)

In [ ]:
n = 7
KNN = KNeighborsClassifier(n_neighbors = n)
#KNN.fit(X_train, y_train)
knn_yhat = KNN.predict(X_test)

In [ ]:
print('Accuracy score of the K-Nearest Neighbors model is {}'.format(accuracy_score(y_test, knn_yhat)))

In [ ]:
print('F1 score of the K-Nearest Neighbors model is {}'.format(f1_score(y_test, knn_yhat)))

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
print(X[:,18])
for i in range(29):
  print(f"Temperature Max, Min pre normalization: {np.max(X[:,i]):0.2f}, {np.min(X[:,i]):0.2f}")

norm_l = tf.keras.layers.Normalization(axis=-1)
norm_l.adapt(X)  # learns mean, variance
Xn = norm_l(X)
for i in range(29):
  print(f"Temperature Max, Min post normalization: {np.max(X[:,i]):0.2f}, {np.min(X[:,i]):0.2f}")

[ 0.40399296 -0.14578304 -2.2618571  ... -0.0227358  -0.64844676
         nan]
Temperature Max, Min pre normalization: 2.44, -56.41
Temperature Max, Min pre normalization: 22.06, -72.72
Temperature Max, Min pre normalization: 9.38, -33.68
Temperature Max, Min pre normalization: 16.88, -5.52
Temperature Max, Min pre normalization: 34.80, -42.15
Temperature Max, Min pre normalization: 22.53, -26.16
Temperature Max, Min pre normalization: 36.68, -43.56
Temperature Max, Min pre normalization: 20.01, -73.22
Temperature Max, Min pre normalization: 15.59, -13.43
Temperature Max, Min pre normalization: 23.75, -24.59
Temperature Max, Min pre normalization: 12.02, -4.05
Temperature Max, Min pre normalization: 7.85, -18.68
Temperature Max, Min pre normalization: 4.57, -5.79
Temperature Max, Min pre normalization: 10.53, -19.21
Temperature Max, Min pre normalization: 5.78, -4.50
Temperature Max, Min pre normalization: 6.10, -14.13
Temperature Max, Min pre normalization: 9.25, -25.16
Temperature Max, Min pre normalization: nan, nan
Temperature Max, Min pre normalization: nan, nan
Temperature Max, Min pre normalization: nan, nan
Temperature Max, Min pre normalization: nan, nan
Temperature Max, Min pre normalization: nan, nan
Temperature Max, Min pre normalization: nan, nan
Temperature Max, Min pre normalization: nan, nan
Temperature Max, Min pre normalization: nan, nan
Temperature Max, Min pre normalization: nan, nan
Temperature Max, Min pre normalization: nan, nan
Temperature Max, Min pre normalization: nan, nan
Temperature Max, Min pre normalization: nan, nan
Temperature Max, Min post normalization: 2.44, -56.41
Temperature Max, Min post normalization: 22.06, -72.72
Temperature Max, Min post normalization: 9.38, -33.68
Temperature Max, Min post normalization: 16.88, -5.52
Temperature Max, Min post normalization: 34.80, -42.15
Temperature Max, Min post normalization: 22.53, -26.16
Temperature Max, Min post normalization: 36.68, -43.56
Temperature Max, Min post normalization: 20.01, -73.22
Temperature Max, Min post normalization: 15.59, -13.43
Temperature Max, Min post normalization: 23.75, -24.59
Temperature Max, Min post normalization: 12.02, -4.05
Temperature Max, Min post normalization: 7.85, -18.68
Temperature Max, Min post normalization: 4.57, -5.79
Temperature Max, Min post normalization: 10.53, -19.21
Temperature Max, Min post normalization: 5.78, -4.50
Temperature Max, Min post normalization: 6.10, -14.13
Temperature Max, Min post normalization: 9.25, -25.16
Temperature Max, Min post normalization: nan, nan
Temperature Max, Min post normalization: nan, nan
Temperature Max, Min post normalization: nan, nan
Temperature Max, Min post normalization: nan, nan
Temperature Max, Min post normalization: nan, nan
Temperature Max, Min post normalization: nan, nan
Temperature Max, Min post normalization: nan, nan
Temperature Max, Min post normalization: nan, nan
Temperature Max, Min post normalization: nan, nan
Temperature Max, Min post normalization: nan, nan
Temperature Max, Min post normalization: nan, nan
Temperature Max, Min post normalization: nan, nan

In [ ]:
tf.random.set_seed(1234)  # applied to achieve consistent results
model = Sequential(
    [
        tf.keras.Input(shape=(29,)),
        Dense(1, activation='sigmoid', name = 'layer1'),
        Dense(1, activation='sigmoid', name = 'layer2')
     ]
)

In [ ]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 layer1 (Dense)              (None, 1)                 30

 layer2 (Dense)              (None, 1)                 2

=================================================================
Total params: 32
Trainable params: 32
Non-trainable params: 0
_________________________________________________________________

In [ ]:
L1_num_params = 2 * 3 + 3   # W1 parameters  + b1 parameters
L2_num_params = 3 * 1 + 1   # W2 parameters  + b2 parameters
print("L1 params = ", L1_num_params, ", L2 params = ", L2_num_params  )

L1 params =  9 , L2 params =  4

In [ ]:
W1, b1 = model.get_layer("layer1").get_weights()
W2, b2 = model.get_layer("layer2").get_weights()
print(f"W1{W1.shape}:\n", W1, f"\nb1{b1.shape}:", b1)
print(f"W2{W2.shape}:\n", W2, f"\nb2{b2.shape}:", b2)

W1(29, 1):
 [[ 0.01868331]
 [ 0.05985427]
 [ 0.1682995 ]
 [-0.41329885]
 [ 0.181229  ]
 [ 0.19429094]
 [ 0.24895889]
 [-0.44457048]
 [-0.26242894]
 [-0.10611907]
 [ 0.2876987 ]
 [ 0.22798032]
 [ 0.24001175]
 [ 0.07720935]
 [ 0.30433023]
 [ 0.26062495]
 [ 0.27023196]
 [-0.2685645 ]
 [-0.18432331]
 [ 0.41579586]
 [-0.31101793]
 [ 0.33229285]
 [ 0.43844813]
 [ 0.32487905]
 [ 0.08301812]
 [ 0.117989  ]
 [ 0.22746468]
 [ 0.43465137]
 [-0.18455541]]
b1(1,): [0.]
W2(1, 1):
 [[-1.174233]]
b2(1,): [0.]

In [ ]:
model.compile(
    loss = tf.keras.losses.BinaryCrossentropy(),
    optimizer = tf.keras.optimizers.Adam(learning_rate=0.01),
)

model.fit(
    X_train,y_train,
    epochs=2,
)

Epoch 1/2
3873/3873 [==============================] - 8s 2ms/step - loss: 0.0163
Epoch 2/2
3873/3873 [==============================] - 6s 2ms/step - loss: 0.0051

In [ ]:
predictions = model.predict(X_test)

yhat = (predictions >= 0.8).astype(int)

1291/1291 [==============================] - 2s 1ms/step

In [ ]:

yHat = []
for i in yhat:
  yHat.append(i[0])
yHat = np.array(yHat)

c = 0
for i, j in zip(y_test, yHat):
  if i != j:
    c += 1
print(c)
print(1 - c/len(yHat))

98
0.9976272335480122